
body {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 60vw;
    height: 80vh;
    background-color: rgba(37, 148, 245, 0.5);
    color: white;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
position: absolute;
top: 1.9rem;
}
.container h1 {
    width: auto;
    height: 30px;
    margin: 0;
}

.time {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    font-size: 1.7rem;
}

.task {
    position: absolute;
    top: 7rem;
    left: 18rem;
}

.task input {
    width: 240px;
    height: 30px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.task button {

    margin-left: 8px;
    width: 40px;
    height: 35px;
    font-size: 20px;
    border-radius: 0.4rem;
    background-color: red;
    color: antiquewhite;
    cursor: pointer;
}
.container1 {
    position: relative; 
    margin-top: 6rem;
    width: 35vw;
    height: 50vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.box{
    width: 30vw;
    height: 45px;
    padding: 10px;
    margin-bottom:10px;
display: flex;
align-items: center;
font-size: 20px;
border-radius: 8px;
background-color: rgb(120, 34, 34) ;
color: white;
}
.delete{
    position: absolute;
    height: 28px;
    left: 26rem;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.box .checkbox{
    left: 29rem;
    position: absolute;
    height: 27px;
    width: 30px;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}